/* Background pattern from Subtle Patterns */
body{
    
     background-color: #efefef;
}
.main-container{
    padding-top: 50px;
    width: 80%;
}
/*qr*/
#qr-canvas { display: none; }
/*alignment*/

.row-header{display: flex; justify-content: center;}
.col-header{text-align: center;}
.row-card{display: flex; justify-content: center; flex-wrap:wrap;}
.col-card{text-align: center; flex:1;}

/*background*/

.fullback{
    
    background-color: #efefef;}

/*gateway*/
/*card*/

.placeholder-top{width:240px;}
.panel-title{text-align: center;}
.btn-primary{
    color: #ffffff;
    background-color: #0398db !important;
    border-color: #0398db !important;
}

.btn-style{
    width: 150px;
}
/*login*/
.navbar{
    border-bottom: 1px solid black;
    margin:0;
}
.imageLogo{
    text-align: center;
}
/*node*/


/*sidebar*/
.wrapper {
    display: flex;
    align-items: stretch;
}         
.sidebar {
    width:0;
    height: 100vh;
    background-color:#1E1E1E;
    position:fixed;
    left:0;
    border: none;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
}

.sidebar.is-visible {
    width:220px;
    min-height: 100vh;
    flex:1;
    z-index: 999;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;   
}
.sideList{
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-align: center;    
}
.sidebarList :hover{
    background-color: #C00000;
}


.btn-hamburg{
    background-color: #fafafa;
}

.pictureframe{
    display: inline-block;
    width: 340px;
    height: 260px;
    background-color: white;
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 20px;
}
#machineImg{
    padding: 10px;

}
/* user edits for user-profile and user-edit*/
.user-container{
    padding-left: 50px;
}

.panel-title{
    cursor: pointer;
}
#mandatory{
    color: red;
}
.imageButton{
    cursor: pointer;
    border: 1px solid grey;
    box-shadow: 2px 2px 1px #888888;
}

.chart-container{
    display: inline-block;
    margin: 20px;
    width: 380px;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 2px 2px 1px #888888;
    cursor: pointer;
}

.btn-save{
    color: white;
    background-color: #45bd21;
    width: 300px;
    height: 50px;
}
.processHeader{
    text-align: center;
}

.processDisplay{
    margin: 100px;
    text-align: center;
}