<!-- Sets navigation bar classes -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Defines navigation bar button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <button type="button" id="sidebarCollapse" class="btn navbar-btn navbar-left btn-hamburg" ng-click="ctrl.visible()" ng-if="ctrl.user">
        <span class="glyphicon glyphicon glyphicon-menu-hamburger"><span>
        </button>

            <a ng-if="ctrl.user" class="navbar-brand">{{ctrl.company_name}}</a>
        </div>
        <!-- Collects nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" ng-hide="ctrl.user">
                    <a ui-sref="registration" data-target="div" ui-sref-active="active">Register<span class="sr-only">(register)</span></a>
                    <!--External-->
                </li>
                <li class="dropdown" ng-if="ctrl.user">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" ui-sref="current" aria-haspopup="true" aria-expanded="false">{{ctrl.user.first_name}}'s Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="ctrl.advanced"><a ui-sref="gateway" ui-sref-active="active">Gateway Registration</a></li>
                        <!--Advance-->
                        <li ng-if="ctrl.advanced"><a ui-sref="node_registration" ui-sref-active="active">Node Registration</a></li>
                        <li ng-if="ctrl.advanced"><a ui-sref="node_view" ui-sref-active="active">Device Manager</a></li>
                        <li ng-if="ctrl.user"><a ui-sref="home" ui-sref-active="active">Process Dashboard</a></li>
                        <!--Basic-->
                        <li role="separator" class="divider"></li>
                        <li ng-if="ctrl.user"><a ui-sref="profile" ui-sref-active="active">User Profile</a></li>
                        <!--Advance-->
                    </ul>
                </li>
                <li ng-if="!ctrl.user"><a ui-sref="login" ui-sref-active="active">Login</a></li>
                <li ng-if="ctrl.user"><a href="/logout" ui-sref-active="active">Logout</a></li>
                <li><img src="../assets/images/cornerLogo.png" height=40px></li>
            </ul>
        </div>
        </ul>

    </div>
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="sidebar" ng-if="ctrl.user" ng-class="{'is-visible':ctrl.sidebar_on}">
    <div class="sidebar-header">
        <h2 class="sideList">Product Lines</h2>

    </div>
    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="sidebarList" ng-repeat="lines in ctrl.product_lines">
            <a ui-sref="process({id:lines.id})">
                <h3 class="active sideList">
                    <!--Process list-->
                    {{lines.line_name.toUpperCase()}}
                    <h3>
            </a>
            <ol>
                <li class="sidebarList2" ng-repeat="machine in lines.machines">
                    <a ui-sref="machine_chart({id:machine.id})">
                        <h4 class="active sideList">
                            <!--Machine list based on the process_line-->
                            {{machine.machine_name.toUpperCase()}}
                            <h4>
                    </a>
                </li>
            </ol>
        </li>


    </ul>
</div>
<!--End of Sidebar-->
<div id="content  col-xs-12">

</div>