<div class="container-fluid" ng-if=ctrl.page_access>
    <div class="page-header">
        <h2><b>Gateways</b></h2>
        <!--Overall page for nodes-->
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td><h4><b>Gateway Serial Number</b></h4></td>
                    <td class="pull-right"><h4><b>Display Connected Nodes</b></h4></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gateway in ctrl.gateways">
                    <!--findAll with same gateway id display information-->
                    <td><h4>SN:{{ gateway.gate_serial_num }}</h4></td>
                    <td>
                        <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.search(gateway.id,gateway.gate_serial_num)">select</button>
                        <button type="button" class="btn btn-danger pull-right" ng-click="ctrl.deleteGateway(gateway.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if='ctrl.delete_msg' class="alert alert-success" role="alert">
        </i>{{ctrl.delete_msg}}</div>
    <div ng-if="ctrl.nodes">
        <h3><b>Nodes connected to Gateway SN:{{ctrl.choosenGateway}}</b></h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <td><h4><b>Node Serial Number</b></h4></td>
                    <td><h4><b>Sensor Type</b></td>
                    <td><h4><b>Machine Type</b></td>
                    <td><h4><b>Product Line</b></td>
                    <td><h4><b>Node Function Type</b></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="node in ctrl.nodes">
                    <!--findAll with same gateway id display information-->
                    <td><h4>{{ node.node_serial_num }}</h4></td>
                    <td><h4>{{ node.sensor_name }}</h4></td>
                    <td><h4>{{ node["machine.machine_name"] }}</h4></td>
                    <td><h4>{{ node["machine.product_line.line_name"] }}</h4></td>
                    <td><h4>{{ node.sig_typeName }}</h4></td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.goToEdit(node.id)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    </td>
            </tbody>
        </table>
    </div>
</div>