<div class="container" id="login-form">
    <div class="imageLogo">
        <a href="#" class="login-logo"><img src="assets/images/auk-logo-black-long.png" height=60px ></a>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Register New Users</h4>
                    <span id="mandatory"> * Fields are required</span>
                </div>
                <form class="form-horizontal" name="regForm" ng-submit="regForm.$valid && ctrl.registerButton()" novalidate>
                    <div class="panel-body">
                        <!--first name-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.first_name.$touched && regForm.first_name.$invalid }">
                                    <label for="first_name">First Name<span id="mandatory">*</span>:</label>
                                    <input name="first_name" type="text" class="form-control" ng-model="ctrl.user.first_name" placeholder="John" required>
                                </div>
                                <div class="help-block" ng-messages="regForm.first_name.$error" ng-if="regForm.first_name.$touched">
                                    <span class="help-inline" ng-message="required">First Name is mandatory</span>
                                </div>
                            </div>
                        </div>
                        <!--last name-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label for="last_name">Last Name:</label>
                                    <input name="last_name" type="text" class="form-control" ng-model="ctrl.user.last_name" placeholder="Smith">
                                </div>
                            </div>
                        </div>
                        <!--company name-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label for="company">Company<span id="mandatory">*</span>:</label>
                                    <input name="company" type="text" class="form-control" ng-model="ctrl.company_id" placeholder="Auk Industries" required>
                                </div>
                                <div class="help-block" ng-messages="regForm.company.$error" ng-if="regForm.company.$touched">
                                    <span class="help-inline" ng-message="required">Company name is mandatory</span>
                                </div>
                            </div>
                        </div>
                        <!--email-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.email.$touched && regForm.email.$invalid }">
                                    <label for="email">Email<span id="mandatory">*</span>: </label>
                                    <input name="email" type="email" class="form-control" ng-model="ctrl.user.email" placeholder="you@email.com" required>
                                </div>
                                <div class="help-block" ng-messages="regForm.email.$error" ng-if="regForm.email.$touched">
                                    <span class="help-inline" ng-message="required">Email Address is mandatory</span>
                                    <span class="help-inline" ng-message="email">Email Address is invalid</span>
                                </div>
                            </div>
                        </div>
                        <!--confirm email-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.confirmEmail.$touched && regForm.confirmEmail.$invalid }">
                                    <label for="confirmEmail">Confirm Email<span id="mandatory">*</span>: </label>
                                    <input name="confirmEmail" type="email" class="form-control" ng-model="ctrl.user.confirmEmail" placeholder="you@email.com"
                                        required>
                                </div>
                                <div class="help-block" ng-messages="regForm.confirmEmail.$error" ng-if="regForm.confirmEmail.$touched">
                                    <span class="help-inline" ng-message="required">Email Address is mandatory</span>
                                    <span class="help-inline" ng-message="email">Email Address is invalid</span>
                                </div>
                                <div ng-if="ctrl.user.email != ctrl.user.confirmEmail">
                                    <span class="glyphicon glyphicon-alert"></span>
                                    <span class="help-inline">Email does not match.</span>
                                </div>
                            </div>
                        </div>
                        <!--contact number-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.phone.$touched && regForm.phone.$invalid }">
                                    <label for="phone">Mobile Number<span id="mandatory">*</span>:</label>
                                    <input name="phone" type="text" class="form-control" ng-model="ctrl.user.phone" placeholder="" minlength="8" ng-pattern="/^[0-9+( )-]*$/"
                                        required>
                                </div>
                                <div class="help-block" ng-messages="regForm.phone.$error" ng-if="regForm.phone.$touched">
                                    <span class="help-inline" ng-message="required">Phone Number is mandatory</span>
                                    <span class="help-inline" ng-message="pattern" ng-message="minlength">Phone Number is invalid</span>
                                    <span class="help-inline" ng-message="minlength">Phone Number is too short</span>
                                </div>
                            </div>
                        </div>
                        <!--password-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.password.$touched && regForm.password.$invalid }">
                                    <label for="password">Password<span id="mandatory">*</span>:</label>
                                    <input name="password" type="password" class="form-control" ng-model="ctrl.password" placeholder="Password" minlength="8"
                                        ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required>
                                </div>
                                <div class="help-block" ng-messages="regForm.password.$error" ng-if="regForm.password.$touched">
                                    <span class="help-inline" ng-message="required">Password is mandatory</span>
                                    <span class="help-inline" ng-message="password"> Password has to be minimun 8 digits/characters long</span>
                                </div>
                            </div>
                        </div>
                        <!--confirm password-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.confirmPassword.$touched && regForm.confirmPassword.$invalid }">
                                    <label for="confirmPassword">Confirm Password<span id="mandatory">*</span>:</label>
                                    <input name="confirmPassword" type="password" class="form-control" ng-model="ctrl.confirmPassword" placeholder="Password"
                                        required>
                                </div>
                                <div class="help-block" ng-messages="regForm.confirmPassword.$error" ng-if="regForm.confirmPassword.$touched">
                                    <span class="help-inline" ng-message="required">Confirm password is mandatory</span>
                                    <div ng-if="ctrl.password != ctrl.confirmPassword">
                                        <span class="glyphicon glyphicon-alert"></span>
                                        <span class="help-inline">Passwords does not match.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--coy admin to be auto assigned-->
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <button type="submit" ng-disabled="regFrom.$invalid" class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </div>
                </form>
                <div ng-if='ctrl.fail_msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.fail_msg}}</div>
            </div>
        </div>
    </div>
</div>