<div class="container-fluid" ng-if=ctrl.page_access>
  
    <div class="row">
      <div class="col col-xs-12 processHeader">
        <h2><b>{{ctrl.product_name.toUpperCase()}}</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 processHeader">
        <h3><b>Overview</b></h3>
      </div>
    </div>
    <!--TEST CARD 1-->
      <div class="row-card">
        <div class="col-card processDisplay">
          <div class="card chart-container col-sm-4" ng-repeat="machines in ctrl.results">
            <h4 class="card-title">{{machines.machine_name.toUpperCase()}}</h4>
            <img class="card-img-top col-xs-12" ng-src="{{machines.machine_image_uri}}" ui-sref="machine_chart({id:machines.id})" width="320px" height="240px" alt="Machine Image">
            <div class="card-block">
               
              <div class="col-xs-12">
                <div ng-if="machines.machine_sequence==1"> 
                 <iframe width="320" height="240" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/1?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart1&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
              </div>
              <div ng-if="machines.machine_sequence==2">
                <iframe width="320" height="240" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/2?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart2&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
              </div>
              <div ng-if="machines.machine_sequence==3">
                <iframe width="320" height="240" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/3?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart3&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe> 
              </div>
                <div ng-if="machines.machine_sequence==4"> 
                 <iframe width="320" height="240" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/4?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart4&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
              </div>
              <div ng-if="machines.machine_sequence==5">
                <iframe width="320" height="240" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/5?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart5&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
              </div>
              <div ng-if="machines.machine_sequence==6">
                <iframe width="320" height="240" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/6?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart6&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe> 
              </div>
            </div>
          </div>
        </div>
      </div>
   
    <!--END of CARD 1-->
  
</div>