<div class="user-container" ng-if=ctrl.page_access>
    <div class="page-header">
        <h1>User Profile</h1>
    </div>

    <form name="editForm" novalidate class="form-inline" ng-submit="ctrl.updateUserField()">
        <table class="table table-responsive">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Company</td>
                    <td>
                        {{ ctrl.page_access.company_name }}
                    </td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.first_name }}
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.first_name">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.last_name }}
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.last_name">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.email }}
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.email">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.phone }}
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.phone" ng-pattern="/^[0-9]*$/">
                            </div>
                            <div ng-show="editForm.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Numbers only
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Sign Up Date</td>
                    <td>
                        {{ ctrl.result.sign_up }}
                    </td>
                </tr>
                <tr>
                    <td>User Type</td>
                    <td>
                        {{ctrl.role_type}}
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            ***********
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input name="password" type="password" class="form-control" ng-model="ctrl.result.password_hash">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.toggleEditor()">
                            Edit
                        </button>
                        <button type="submit" class="btn btn-success" ng-disabled="!ctrl.result.first_name || !ctrl.result.phone || !ctrl.result.email || !ctrl.result.password_hash">Save
                    </button>

                        <button type="button" class="btn btn-danger" ng-click="ctrl.removeUser()">Delete
                    </button>

                        <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.search()">Cancel
                    </button>
                    </td>

                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div ng-if='ctrl.fail_msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.fail_msg}}</div>
    <div ng-if='ctrl.pass_msg' class="alert alert-success" role="alert">
        {{ctrl.pass_msg}}</div>
</div>

<!--To be moved
<div>
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.searchGatewayList()">Get Gateway
                    </button>
                </td>
            </tr>
            <tr ng-if="ctrl.gateway" ng-repeat="x in ctrl.gateway">
                <td>1{{ x.gate_serial_num }}</td>
                <td>2{{ x.company_id }}</td>
            </tr>
        </tbody>
    </table>
</div>
-->