<div id="node-container" class="container-fluid" ng-if=ctrl.page_access>
  <div class="row-main">
    <div class="col-main">
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive" ng-src="{{ctrl.trackerImg}}" alt="tracker">
        </div>
      </div>
      <div class="row-header">
        <div class="col-header">
          <h2>Node Setup for Gateway SN:{{ctrl.gateway.gate_serial_num}}</h2>
        </div>
      </div>
      <div class="panel-group col-xs-12" id="accordion">
        <!--Card 1 node serial record-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#nodeSN" aria-expanded="false" aria-controls="sensor">Scan Node Serial Number</h4>
          </div>
          <div id="nodeSN" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row-card col-xs-12">
                <div class="col-card ">
                  <div class="card">
                    <h4 class="card-title"></h4>
                    <img class="card-img-top placeholder-top imageButton" ng-src="{{ctrl.img}}" alt="QR" ng-click="ctrl.startQR()" data-ng-hide="ctrl.cameraRequestedQR || ctrl.node.nodeSN"
                      width="200px">
                    <bc-qr-reader active="ctrl.cameraRequestedQR" on-result="ctrl.processSNfromQR" on-error="onError" camera-status="cameraIsOn"
                      width="320px" height="240px"></bc-qr-reader>
                    <br>
                    <div class="card-block">
                      <p class="card-text">Click to image scan QR Code or Key in below</p>
                      <p ng-show="ctrl.node.nodeSN">Serial Address detected</p>
                      <form name="nodeSNForm">
                        <div class="form-inline">
                          <label for="nodeSN">Node Serial Number:</label>
                          <input type="text" name="nodeSN" id="nodeSN" class="form-control" ng-model="ctrl.node.nodeSN" placeholder="Key in serial number here"
                            required minlength="16" maxlength="16" ng-pattern="/^[0-9a-fA-F]*$/">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-style" ng-disabled="nodeSNForm.$invalid" data-toggle="collapse" data-parent="#accordion"
                          data-target="#sensor">Next</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Card 1-->
        <!--Card 2 sensor record-->
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#sensor" aria-expanded="false" aria-controls="sensor">
            <h4 class="panel-title">Take Image of Sensor</h4>
          </div>
          <div id="sensor" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row-card col-xs-12">
                <div class="col-card">
                  <div class="card">
                    <h4 class="card-title"></h4>
                    <div>
                      <img class="card-img-top placeholder-top imageButton" ng-src="{{ctrl.img2}}" alt="Image" ng-click="ctrl.startImage()" data-ng-hide="ctrl.cameraRequestedImage || ctrl.sensorPic">
                      <!-- Configure a few settings and attach camera -->
                      <div ng-if="ctrl.cameraRequestedImage">
                        <webcam channel="ctrl.channel" on-streaming="ctrl.onSuccess()" on-error="ctrl.onError(err)" on-stream="ctrl.onStream(stream)">
                        </webcam>
                        <canvas ng-hide="true" id="snapshot" width="320" height="240"></canvas>
                      </div>
                      <div ng-if="!ctrl.cameraRequestedImage">
                        <img class="SensorImage" ng-src="{{ctrl.sensorPic}}" alt="Sensor Image" width="320" height="240">
                      </div>
                      <!--End of insert-->
                      <div class="card-block">
                        <p class="card-text">Store an image to keep track of device connections</p>
                        <!--Take Image-->
                        <div>
                          <button class="btn btn-success" type="button" ng-click="ctrl.sensorButton()">Capture</button>
                          <button class="btn btn-success" type="button" ng-click="ctrl.startImage()">Retake</button>
                        </div>
                        <br>
                        <!--SaveImage to remote location after form-->
                        <form name="sensorForm" ng-submit="ctrl.sendSnapshotToServer()">
                          <div class="form-inline">
                            <label for="sensor">Sensor Description:</label>
                            <input type="text" name="sensor_name" id="sensor_name" class="form-control" ng-model="ctrl.node.sensor_name" placeholder="Example: Lightgate sensor Entrance"
                              required>
                          </div>
                          <br>
                          <button type="submit" class="btn btn-primary btn-style" ng-disabled="sensorForm.$invalid" data-toggle="collapse" data-parent="#accordion"
                            data-target="#product">Next</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Card 2-->
        <!--Card 3 creating a Product Line-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#product" aria-expanded="false" aria-controls="product">
              Name the Product Line
            </h4>
          </div>
          <div id="product" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row-card col-xs-12">
                <div class="col-card">
                  <div class="card">
                    <h4 class="card-title"></h4>
                    <div class="card-block" ng-if="!ctrl.newProduct">
                      <form name="processForm" ng-submit="ctrl.skipProcessCreation()">
                        <div class="form-inline">
                          <h4>Select from Existing Processes </h4>
                          <label for="product">Processes:</label>
                          <select class="form-control selectpicker" ng-model="ctrl.existingProduct_line_id" required>
                                    <option ng-repeat="products in ctrl.product_lines" value="{{ products.id }}">
                                        {{ products.line_name }}
                                    </option>
                                </select>
                          <h4>Click register to create a new process line</h4>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-style" ng-disabled="processForm.$invalid" data-toggle="collapse" data-parent="#accordion"
                          data-target="#machine">Next</button>
                        <button type="button" class="btn btn-primary btn-style" ng-click="ctrl.registerNewProduct()">Register</button>
                      </form>
                    </div>
                    <div class="card-block" ng-if="ctrl.newProduct">
                      <form name="productForm" ng-submit="ctrl.createProduct()">
                        <div class="form-inline">
                          <label for="product">Product Description:</label>
                          <input type="text" name="line_name" id="line_name" class="form-control" ng-model="ctrl.product_line.line_name" placeholder="Example: Bottling"
                            required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-style" ng-disabled="productForm.$invalid" data-toggle="collapse" data-parent="#accordion"
                          data-target="#machine">Next</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Card 3-->
        <!--Card 4 machine record-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#machine" aria-expanded="false" aria-controls="machine">
              Take Image of Machine
            </h4>
          </div>
          <div id="machine" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row-card col-xs-12">
                <div class="col-card">
                  <div class="card">
                    <h4 class="card-title"></h4>
                    <div class="card-block" ng-if="ctrl.existingProduct_line_id&&!ctrl.newMachine">
                      <form name="existingMachineForm" ng-submit="ctrl.skipMachineCreation()">
                        <div class="form-inline">
                          <h4>Select from Existing Machines </h4>
                          <label for="product">Machines:</label>
                          <select class="form-control selectpicker" ng-model="ctrl.existingMachine_id" required>
                                    <option ng-repeat="machines in ctrl.machines" value="{{ machines.id }}">
                                        {{ machines.machine_name }}
                                    </option>
                                </select>
                          <h4>Click register to create a new Machine</h4>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-style" ng-disabled="existingMachineForm.$invalid" data-toggle="collapse"
                          data-parent="#accordion" data-target="#machine">Next</button>
                        <button type="button" class="btn btn-primary btn-style" ng-click="ctrl.registerNewMachine()">Register</button>
                      </form>
                    </div>
                    <div ng-if="!ctrl.existingProduct_line_id || ctrl.newMachine">
                      <img class="card-img-top placeholder-top imageButton" ng-src="{{ctrl.img2}}" alt="Image" ng-click="ctrl.startImage()" data-ng-hide="ctrl.cameraRequestedImage || ctrl.machinePic">
                      <!-- Configure a few settings and attach camera -->
                      <div ng-if="ctrl.cameraRequestedImage">
                        <webcam channel="ctrl.channel" on-streaming="ctrl.onSuccess()" on-error="ctrl.onError(err)" on-stream="ctrl.onStream(stream)">
                        </webcam>
                        <canvas ng-hide="true" id="snapshot" width="320" height="240"></canvas>
                      </div>
                      <div ng-if="!ctrl.cameraRequestedImage">
                        <img class="MachineImage" ng-src="{{ctrl.machinePic}}" alt="Machine Image" width="320" height="240">
                      </div>
                      <!--End of insert-->
                      <div class="card-block">
                        <p class="card-text">Store an image to keep track of device connections</p>
                        <!--Take Image-->
                        <div>
                          <button class="btn btn-success" type="button" ng-click="ctrl.machineButton()">Capture</button>
                          <button class="btn btn-success" type="button" ng-click="ctrl.startImage()">Retake</button>
                        </div>
                        <!--Save Image to remote location after form-->
                        <br>
                        <form name="machineForm" ng-submit="ctrl.sendSnapshotToServer()">
                          <div class="form-inline">
                            <label for="machine">Machine Description:</label>
                            <input type="text" name="machine_name" id="machine_name" class="form-control" ng-model="ctrl.machine.machine_name" placeholder="Example: Mixer 1"
                              required>
                          </div>
                          <div class="form-inline">
                            <label for="machine">Sequence:</label>
                            <input type="text" name="machine_sequence" id="machine_sequence" class="form-control" ng-model="ctrl.machine.machine_sequence"
                              placeholder="1" required>
                          </div>
                          <br>
                          <button type="submit" class="btn btn-primary btn-style" ng-disabled="machineForm.$invalid" data-toggle="collapse" data-parent="#accordion"
                            data-target="#machine">Next</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Card 4-->
        <div ng-if='ctrl.pass_msg' class="alert alert-success" role="alert">
          </i> {{ctrl.pass_msg}}
        </div>
        <div ng-if='ctrl.fail_msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.fail_msg}}</div>
      </div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <button type="button" class="btn btn-save btn-center" ng-disabled="!ctrl.nodeCreated && !ctrl.machineCreated && !ctrl.lineCreated"
          ng-click="ctrl.saveButton()">SAVE</button>
      </div>
    </div>
  </div>
</div>