<div class="container-fluid" ng-if=ctrl.page_access>
    <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive" ng-src="{{ctrl.trackerImg}}" alt="tracker">
        </div>
      </div>
    <div class="page-header">
        <h2>Node Serial Number:{{ctrl.result.node_serial_num}}</h2>
        <!--Overall page for nodes-->
    </div>
    <form name="editNodeForm" novalidate class="form-inline" ng-submit="ctrl.saveButton()">
        <table class="table">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Process Line</td>
                    <td>{{ctrl.result.line_name}}</td>
                </tr>
                <tr>
                    <td>Machine</td>
                    <td>
                        {{ctrl.result.machine_name}}
                    </td>
                </tr>
                <tr>
                    <td>Line Sequence</td>
                    <td>
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.machine_sequence">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Sensor Description</td>
                    <td>
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.sensor_name">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Signal Type</td>
                    <td class="col-span-4">
                        <div class="radio-inline">
                            <label><input type="radio" name="count" value="1" ng-model="ctrl.result.sig_type">Count</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="state"value="2" ng-model="ctrl.result.sig_type">State</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="analog"value="3" ng-model="ctrl.result.sig_type">Analog</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-default" ng-click="ctrl.toggle()">Advance Settings
                    </button></td>
                </tr>
                <tr ng-if="ctrl.showAdvanced">
                    <td>IO Ports</td>
                    <td class="col-span-4">
                        <div class="checkbox">
                            <label><input type="checkbox" name="sig_0" value="1" ng-model="ctrl.result.sig_0">Sig 0</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="sig_1" value="1" ng-model="ctrl.result.sig_1">Sig 1</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="sig_2" value="1" ng-model="ctrl.result.sig_2">Sig 2</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="sig_3" value="1" ng-model="ctrl.result.sig_3">Sig 3</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="sig_4" value="1" ng-model="ctrl.result.sig_4">Sig 4</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="sig_5" value="1" ng-model="ctrl.result.sig_5">Sig 5</label>
                        </div>
                    </td>
                </tr>
                <tr ng-if="ctrl.showAdvanced">
                    <td>Vmax</td>
                    <td>
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.vmax">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="ctrl.showAdvanced">
                    <td>Push Interval</td>
                    <td>
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.pushint">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success" ng-disabled="!ctrl.result.line_name || !ctrl.result.machine_name || !ctrl.result.machine_sequence ||!ctrl.result.sensor_name || !ctrl.result.sig_type">Save
                    </button>
                        <button type="button" class="btn btn-link" ng-click="ctrl.search()">Cancel Changes
                    </button>
                        <button type="button" class="btn btn-link" ui-sref="node_view">To Device Overview
                    </button>
                        <button type="button" class="btn btn-primary" ui-sref="node_registration">Add more Nodes
                    </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div ng-if='ctrl.pass_msg' class="alert alert-success" role="alert">{{ctrl.pass_msg}}</div>
</div>