<div class="container-fluid" ng-if=ctrl.page_access>
  <div class="row-main">
    <div class="col-main">
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive" ng-src="{{ctrl.trackerImg}}" alt="tracker">
        </div>
      </div>
      <div class="row-header">
        <div class="col-header">
          <h2>Welcome {{ctrl.page_access.first_name}}
            <h2>
              <h3>Setup <span id="gatewayColor">GATEWAY</span> </h2>
        </div>
      </div>
      <!--Card-->
      <div class="row-card">
        <div class="col-card">
          <div class="card">
            <h4 class="card-title">Input Gateway Serial Number</h4>
            <img class="card-img-top placeholder-top" ng-src="{{ctrl.img}}" alt="QR" ng-click="ctrl.start()" data-ng-hide="ctrl.cameraRequested || ctrl.gateway.gatewaySN">
            <bc-qr-reader active="ctrl.cameraRequested" on-result="ctrl.processSNfromQR" on-error="onError" camera-status="cameraIsOn"
              width="200px" height="200px"></bc-qr-reader>
              <br>
            <div class="card-block">              
              <p class="card-text"><h4>Click image scan QR Code or Key in below</h4></p>
              <p ng-show="ctrl.gateway.gatewaySN">Serial Address detected</p>
              <form name="gatewayForm" ng-submit="ctrl.submit()">
                <div class="form-inline">
                  <label for="gateway"><h3>Gateway Serial Number:</h3></label>
                  <input type="text" name="gateway" id="gateway" class="form-control" ng-model="ctrl.gateway.gatewaySN" placeholder="Key in serial number here"
                    required minlength="16" maxlength="16" ng-pattern="/^[0-9a-fA-F]{16}$/">

                </div>
                  <br>
              
                <button type="submit" class="btn btn-primary btn-style" ng-disabled="gatewayForm.$invalid">Submit</button>
          
              </form>
              <div ng-if='ctrl.msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Card-->
    </div>
  </div>
</div>