<div class="container col-xs-12" ng-if=ctrl.page_access>
  <!-- row 1 -->
  <div class="row">
    <div class="col-xs-12">
        <h2>{{ctrl.result.machine_name.toUpperCase()}}</h2>
    </div>
  </div>
  <!--end of row 1-->
  <!--row 2-->
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div ng-if="ctrl.result.machine_sequence==1">
        <iframe width="100%" height="650" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/1?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart1&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
      </div>
      <div ng-if="ctrl.result.machine_sequence==2">
        <iframe width="100%" height="650" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/2?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart2&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
      </div>
      <div ng-if="ctrl.result.machine_sequence==3">
        <iframe width="100%" height="650" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/3?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart3&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
      </div>
      <div ng-if="ctrl.result.machine_sequence==4">
        <iframe width="100%" height="650" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/4?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart4&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
      </div>
      <div ng-if="ctrl.result.machine_sequence==5">
        <iframe width="100%" height="650" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/5?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart5&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
      </div>
      <div ng-if="ctrl.result.machine_sequence==6">
        <iframe width="100%" height="650" style="border: 1px solid #cccccc;" ng-src="https://thingspeak.com/channels/315475/charts/6?api_key=HBCBYJSQ6SHP8825;results=60;dynamic=true&title=Chart6&type=line&update=1&xaxis=Time;yaxis=Data;width=auto&height=auto"></iframe>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="pictureframe">
        <img id="machineImg" ng-src="{{ctrl.result.machine_image_uri}}" alt="Machine Image">
      </div>
    </div>
    <br>
     <div class="col-xs-12 col-sm-4">
       <div><h3> {{ctrl.result.sensor_name.toUpperCase()}} </h3></div>
       <div><h4> SN:{{ctrl.result.node_serial_num.toUpperCase()}} </h4></div>
      <div class="pictureframe">
        <img id="machineImg" ng-src="{{ctrl.result.sensor_image_uri}}" alt="Sensor Image">
      </div>
    </div>
  </div>
  <!-- end row 2 -->
</div>