<div class="container" ng-if=ctrl.page_access>
    <div class="page-header">
        <h2><b>Plant</b></h2>
        <!--Overall page for nodes-->
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td><h4><b>Process Names</b></h4></td>
                    <td class="pull-right"><h4><b>Display Process Details</b></h4></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="processes in ctrl.product_lines">
                    <!--findAll with same gateway id display information-->
                    <td>{{ processes.line_name.toUpperCase() }}</td>
                    <td>
                        <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.select(processes.id)">Select</button>
                        <button type="button" class="btn btn-danger pull-right" ng-click="ctrl.deleteProduct_line(processes.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
