<div class="container" id="login-form" ng-if="ctrl.page_access">
    <div class="imageLogo">
        <a href="#" class="login-logo"><img src="assets/images/auk-logo-black-long.png" height=60px ></a>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Company Registration</h4>
                    <span>Support Staff Only</span>
                </div>
                <form class="form-horizontal" name="regForm" ng-submit="regForm.$valid && ctrl.coy_regButton()" novalidate>
                    <div class="panel-body">
                        <!--company name-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.company.$touched && regForm.company.$invalid }">
                                    <label for="company">Company<span id="madatory">*</span>:</label>
                                    <input name="company" type="text" class="form-control" ng-model="ctrl.company.coy_name" placeholder="Auk Industries" required>
                                </div>
                                <div class="help-block" ng-messages="regForm.company.$error" ng-if="regForm.company.$touched">
                                    <span class="help-inline" ng-message="required">Company name is mandatory</span>
                                </div>
                            </div>
                        </div>
                        <!--company registry UEN-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.UEN.$touched && regForm.UEN.$invalid }">
                                    <label for="UEN">Company UEN<span id="madatory">*</span>:</label>
                                    <input name="UEN" type="text" class="form-control" ng-model="ctrl.company.coy_registry" placeholder="123456789A" required
                                        ng-pattern="/^\d{9}[a-zA-Z]$/">
                                </div>
                                <div class="help-block" ng-messages="regForm.UEN.$error" ng-if="regForm.UEN.$touched">
                                    <span class="help-inline" ng-message="required">Company UEN is mandatory</span>
                                </div>
                            </div>
                        </div>
                        <!--email-->
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group" ng-class="{ 'has-error': regForm.email.$touched && regForm.email.$invalid }">
                                    <label for="email">Email<span id="madatory">*</span>: </label>
                                    <input name="email" type="text" class="form-control" ng-model="ctrl.email" placeholder="@email.com" required>
                                </div>
                                <div class="help-block" ng-messages="regForm.email.$error" ng-if="regForm.email.$touched">
                                    <span class="help-inline" ng-message="required">Email Address is mandatory</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="regForm.$invalid">Submit</button>
                        </div>
                    </div>
                </form>
                 <div ng-if='ctrl.pass_msg' class="alert alert-success" role="alert"> {{ctrl.pass_msg}}</div>
                 <div ng-if='ctrl.fail_msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.fail_msg}}</div>
            </div>
        </div>
    </div>
</div>