<div class="user-container" ng-if=ctrl.page_access>
    <div class="page-header">
        <h1>User Control Management
            <small>Admin Only</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" novalidate class="form-inline" ng-submit="ctrl.search()">
        <div class="form-group">
            <label for="id">User ID:</label>
            <input id="id" class="form-control" type="text" name="id" placeholder="Enter id number" ng-model="ctrl.id" ng-change="ctrl.initDetails()"
                required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                Search
            </button>
        </div>
    </form>

    <hr>
    <form name="editForm" novalidate class="form-inline" ng-submit="ctrl.updateUserField()">
        <table class="table table-hover table-responsive" ng-show="ctrl.showDetails">
            <thead>
                <tr>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User ID</td>
                    <td>
                        {{ ctrl.result.id }}
                    </td>
                </tr>
                <tr>
                    <td>Company</td>
                    <td>
                        {{ ctrl.result.company_id}}
                    </td>
                </tr>
                <tr>
                    <td>First name</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.first_name }}
                            <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEditor()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>

                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.first_name">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success" ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.last_name }}
                            <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEditor()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.last_name">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success" ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.email }}
                            <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEditor()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input type="email" class="form-control" ng-model="ctrl.result.email">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success" ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.phone }}
                            <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEditor()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="ctrl.result.phone" ng-pattern="/^[0-9]*$/">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success" ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                </div>
                            </div>
                            <div ng-show="editForm.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Numbers only
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Sign Up Date</td>
                    <td>
                        {{ ctrl.result.sign_up }}
                    </td>
                </tr>
                <tr>
                    <td>User Type</td>
                    <td>
                        <select ng-model="ctrl.result.role_id">                            
                            <option value="1">Advanced</option>
                            <option value="2">Basic</option>   
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <div ng-hide="ctrl.isEditorOn">
                            {{ ctrl.result.password_hash }}
                            <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEditor()">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        </div>
                        <div ng-show="ctrl.isEditorOn">
                            <div class="input-group">
                                <input name="password" type="password" class="form-control" ng-model="ctrl.result.password_hash">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success" ng-click="ctrl.toggleEditor()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn default" ng-disabled="!ctrl.result.first_name || !ctrl.result.phone || !ctrl.result.email || !ctrl.result.password_hash">Save
                    </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.removeUser()">Delete
                    </button>
                        <td>
                            <button type="button" class="btn btn-link btn-sm" ng-click ui-sref='gateway'>Cancel
                    </button>
                        </td>

                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<!--To be moved
<div>
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.searchGatewayList()">Get Gateway
                    </button>
                </td>
            </tr>
            <tr ng-if="ctrl.gateway" ng-repeat="x in ctrl.gateway">
                <td>1{{ x.gate_serial_num }}</td>
                <td>2{{ x.company_id }}</td>
            </tr>
        </tbody>
    </table>
</div>
-->