<div class="container" id="login-form">
    <div class="imageLogo">
        <a href="#" class="login-logo"><img src="assets/images/auk-logo-black-long.png" height=60px ></a>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Login to Dashboard</h4>
                </div>
                <form class="form-horizontal" id="validate-form" ng-submit="ctrl.login()">
                    <div class="panel-body">
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label for="email">Email:</label>
                                    <input name="email" type="email" class="form-control" ng-model="ctrl.user.username" placeholder="you@email.com" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <label for="password">Password:</label>
                                    <input name="password" type="password" class="form-control" ng-model="ctrl.user.password" placeholder="Password" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-n">
                            <div class="col-xs-12">
                                <a ui-sref="forgotpassword" class="pull-left">Forgot password?</a>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <a ui-sref="registration" class="btn btn-default pull-left">Register</a>
                            <button type="submit" class="btn btn-primary pull-right">Login</button>
                        </div>
                    </div>
                </form>
                <div ng-if='ctrl.msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>

            </div>
        </div>
    </div>
</div>